li {
     border-bottom: 1px dotted #cfcfcf;
     font-size: 20px;
     padding: 6px;
     position: relative;
}

.center {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#todo-panel {
    border: 1px solid #cfcfcf;
    margin: auto;
    text-align: center;
    width: 475px;
    padding: 20px;
}

.todo-label {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

#todo-list {
    margin: 1em auto;
    text-align: left;
    width: 428px;
    list-style: none;
    padding: 0;
}

.completed {
    color: #666;
    text-decoration: line-through;
}

.hidden { display: none; }

.textbox {
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: normal;
    margin: 5px auto 0;
    padding: 6px;
    width: 420px;
}

.todo-item-remove-button {
    position: absolute;
    right: 0;
    top: 12px;
}

.todo-item-remove-icon {
    /*
    Delete icon courtesy of The Noun Project:
    http://thenounproject.com/noun/delete/
    */
    background: url(../../images/remove.png) no-repeat;
    display: block;
    height: 16px;
    opacity: 0.5;
    width: 23px;
    visibility: hidden;
}

li:hover .todo-item-remove-icon { visibility: visible; }
li .todo-item-remove-icon:hover { opacity: 1.0 }

.item-count-label {
    display: block;
    text-align: left;
    color: #666;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 5px auto 0;
    padding: 6px;
}